Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
UseTab: Always
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty
BinPackParameters: false
BinPackArguments: false
AlignAfterOpenBracket: AlwaysBreak
LambdaBodyIndentation: Signature
AllowAllArgumentsOnNextLine: false
ColumnLimit: 120
AlignConsecutiveMacros: AcrossComments
IndentCaseLabels: true
AlwaysBreakTemplateDeclarations: Yes
